body {
    color: #e5e7eb;
  margin: 0;
  min-height: 100vh;

  background-image: url("/bg2.jpg");


  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  background-attachment: fixed;  

  text-align: center;
}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

canvas {
    width: 50%;
    height: auto;
}

#infopanel{
    text-align: left;
    width:50%;
    margin:50px;
    color:white;
    background-color: rgba(0, 0, 0, 0.611);
    padding:25px;
}

#infopanel a{
    color: lightblue;
}