
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

canvas {
    border: 1px solid black;
    width: 50%;
    height: auto;
}

#infopanel{
    border: 1px solid black;
    width:50%;
    margin:50px;
    background-color: white;
    color:black;
    padding:25px;
}